oldSlackbot.json
[{"id":"32e3b2ee.52445e","type":"http request","z":"a6839286.ac881","name":"Slack response","method":"POST","ret":"txt","url":"","x":1100,"y":491,"wires":[[]]},{"id":"be3adae8.c87c68","type":"function","z":"a6839286.ac881","name":"increased count message","func":"var userName = \"Developer Works\";\nvar link = flow.get(\"DWurl\");\nvar text = {\n    text: \"At least one new question has been asked in <\" + link + \"|\" + userName + \"> for the specified query\",\n    username: userName,\n    icon_url: \"https://pbs.twimg.com/profile_images/527132447226343425/2Yg-S0Oz_normal.png\"\n};\nreturn {\n    payload: JSON.stringify(text),\n};","outputs":1,"noerr":0,"x":888,"y":391,"wires":[["32e3b2ee.52445e"]]},{"id":"846e72d8.7a1b9","type":"function","z":"a6839286.ac881","name":"Increased count message","func":"var userName = \"Stack Overflow\";\nvar link = flow.get(\"SOurl\");\nvar text = {\n    text: \"At least one new question has been asked in <\" + link + \"|\" + userName + \"> for the specified query\",\n    username: userName,\n    icon_url: \"http://blog.grio.com/wp-content/uploads/2012/09/stackoverflow.png\"\n};\nreturn {\n    payload: JSON.stringify(text),\n};","outputs":1,"noerr":0,"x":895,"y":577,"wires":[["32e3b2ee.52445e"]]},{"id":"39c824e2.5fd1bc","type":"switch","z":"a6839286.ac881","name":"Check for update","property":"update","propertyType":"msg","rules":[{"t":"cont","v":"increment","vt":"str"},{"t":"cont","v":"decrement","vt":"str"}],"checkall":"false","outputs":2,"x":636,"y":400,"wires":[["fcff04ec.9967e8","be3adae8.c87c68"],["fcff04ec.9967e8"]]},{"id":"3b56ac74.eadac4","type":"switch","z":"a6839286.ac881","name":"Check for update","property":"update","propertyType":"msg","rules":[{"t":"cont","v":"increment","vt":"str"},{"t":"cont","v":"decrement","vt":"str"}],"checkall":"false","outputs":2,"x":628,"y":588,"wires":[["88d4875f.1ecd48","846e72d8.7a1b9"],["88d4875f.1ecd48"]]},{"id":"fcff04ec.9967e8","type":"cloudant out","z":"a6839286.ac881","name":"Update DW count","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","payonly":true,"operation":"insert","x":867,"y":431,"wires":[]},{"id":"913e33db.1d9a9","type":"function","z":"a6839286.ac881","name":"DW Update","func":"var questionCount = flow.get(\"DWCount\");\nvar msg = msg.payload;\nvar oldCount = msg.count;\nvar update = \"problem\";\n\nif (questionCount > oldCount){\n    update = \"increment\";\n}\nelse if (questionCount == oldCount){\n    update = \"nothing\";\n}\nelse if (questionCount > 0){\n    update = \"decrement\";\n}\nreturn {\n    payload: {\"_id\":\"DWCount\",\n            \"_rev\": msg.rev,\n            \"count\": questionCount\n    },\n    update: update,\n    comparison: {\n        old: oldCount,\n        current: questionCount,\n        update: update\n    }\n};","outputs":1,"noerr":0,"x":571,"y":346,"wires":[["39c824e2.5fd1bc","b4b96639.849be8"]]},{"id":"88d4875f.1ecd48","type":"cloudant out","z":"a6839286.ac881","name":"Update SO count","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","payonly":true,"operation":"insert","x":868,"y":617,"wires":[]},{"id":"ff0aa715.3ae1c8","type":"function","z":"a6839286.ac881","name":"SO Update","func":"var questionCount = flow.get(\"SOCount\");\nvar msg = msg.payload;\nvar oldCount = msg.count;\nvar update = \"problem\";\n\nif (questionCount > oldCount){\n    update = \"increment\";\n}\nelse if (questionCount == oldCount){\n    update = \"nothing\";\n}\nelse if (questionCount > 0){\n    update = \"decrement\";\n} \nreturn {\n    payload: {\"_id\":\"SOCount\",\n            \"_rev\": msg.rev,\n            \"count\": questionCount\n    },\n    update: update,\n    comparison: {\n        old: oldCount,\n        current: questionCount,\n        update: update\n    }\n};","outputs":1,"noerr":0,"x":554,"y":531,"wires":[["3b56ac74.eadac4","b42fd861.223098"]]},{"id":"b4b96639.849be8","type":"debug","z":"a6839286.ac881","name":"DW ? count","active":true,"console":"false","complete":"comparison","x":805,"y":346,"wires":[]},{"id":"c0db7675.d69288","type":"function","z":"a6839286.ac881","name":"build DB response","func":"var rev = \"\";\nvar count = \"\";\nvar msg = msg.payload;\nif (msg !== null) {\n        rev = msg._rev;\n        count = msg.count;\n}\nreturn {\n    payload:{ \"rev\": rev,\n            \"count\": count\n    }\n};","outputs":1,"noerr":0,"x":494,"y":304,"wires":[["913e33db.1d9a9"]]},{"id":"b42fd861.223098","type":"debug","z":"a6839286.ac881","name":"SO ? count","active":true,"console":"false","complete":"comparison","x":757,"y":530,"wires":[]},{"id":"1eda75f7.04ae0a","type":"function","z":"a6839286.ac881","name":"build DB response","func":"var rev = \"\";\nvar count = \"\";\nvar msg = msg.payload;\nif (msg !== null) {\n        rev = msg._rev;\n        count = msg.count;\n}\nreturn {\n    payload:{ \"rev\": rev,\n            \"count\": count\n    }\n};","outputs":1,"noerr":0,"x":477,"y":489,"wires":[["ff0aa715.3ae1c8"]]},{"id":"3896f303.3a7aac","type":"cloudant in","z":"a6839286.ac881","name":"DB Question Count","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","search":"_id_","design":"","index":"","x":427,"y":257,"wires":[["c0db7675.d69288"]]},{"id":"2d7fbecd.403652","type":"cloudant in","z":"a6839286.ac881","name":"DB Question Count","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","search":"_id_","design":"","index":"","x":397,"y":442,"wires":[["1eda75f7.04ae0a"]]},{"id":"73277c2e.e26884","type":"function","z":"a6839286.ac881","name":"get DW count","func":"var htmlString = msg.payload;\nvar index = htmlString.indexOf('Results found');\n//Sometimes changed from uppercase to lowercase\nif (index == -1){\n    index = htmlString.indexOf('Results Found');\n}\nvar htmlSubString = htmlString.substring(index-20, index);\nvar countString = htmlSubString.substring(htmlSubString.lastIndexOf(\">\")+1).trim().replace(',', '');\nvar count = Number(countString);\nflow.set(\"DWCount\", count);\n\nreturn {\n    payload: {\"_id\": \"DWCount\"},\n    count: count,\n    subS: countString\n};","outputs":1,"noerr":0,"x":355,"y":206,"wires":[["3896f303.3a7aac"]]},{"id":"acb59ce0.63608","type":"function","z":"a6839286.ac881","name":"get SO count","func":"var htmlString = msg.payload;\nvar index = htmlString.indexOf('results-label');\nvar htmlSubString = htmlString.substring(index-150, index-13);\nvar countString = htmlSubString.substring(htmlSubString.lastIndexOf(\">\")+1).trim().replace(/,/g, '');\nvar count = Number(countString);\nflow.set(\"SOCount\", count);\n\nreturn {\n    payload: {\"_id\": \"SOCount\"},\n    count: count,\n    countString: countString\n};","outputs":1,"noerr":0,"x":318,"y":391,"wires":[["2d7fbecd.403652"]]},{"id":"620d1677.a57018","type":"http request","z":"a6839286.ac881","name":"Developer Works Query","method":"GET","ret":"txt","url":"","x":262,"y":161,"wires":[["73277c2e.e26884"]]},{"id":"3e5f10f5.7f605","type":"http request","z":"a6839286.ac881","name":"Stackoverflow query","method":"GET","ret":"txt","url":"","x":236,"y":346,"wires":[["acb59ce0.63608"]]},{"id":"c32bb23c.a8e16","type":"function","z":"a6839286.ac881","name":"DW search URL","func":"var url = \"https://developer.ibm.com/answers/search.html?f=&type=question&redirect=search%2Fsearch&sort=relevance&q=was\";\nflow.set(\"DWurl\", url);\nreturn { url: url };","outputs":1,"noerr":0,"x":207,"y":116,"wires":[["620d1677.a57018"]]},{"id":"7bb39ac1.0884c4","type":"function","z":"a6839286.ac881","name":"SO search URL","func":"var url = \"http://stackoverflow.com/search?q=time\";\nflow.set(\"SOurl\", url);\nreturn { url: url };","outputs":1,"noerr":0,"x":183,"y":297,"wires":[["3e5f10f5.7f605"]]},{"id":"26676b27.23a8f4","type":"inject","z":"a6839286.ac881","name":"DW 15 minute inject","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":167,"y":73,"wires":[["c32bb23c.a8e16"]]},{"id":"60affe1f.aacdf","type":"inject","z":"a6839286.ac881","name":"SO 15 minute inject","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":139,"y":254,"wires":[["7bb39ac1.0884c4"]]}]
